@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello, @ViewData["name"]!</h2>

<input type="button" onclick="location.href = '@ViewData["redirectUrl"]'" />

<a href="https://identity.fhict.nl/connect/authorize?client_id=i387766-simplified&scope=fhict%20fhict_personal&response_type=id_token%20token&redirect_uri=http://localhost:54680/StandardServices/Studentenplein">test sign-in</a>
