@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Studentenplein</h1>
    <p>
        Hier worden alle veelbezochte links van het studentenplein gepost.
    </p>
    <p>@ViewData["token"]</p>
</div>

