@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Studentenplein</h1>
    <p>
        Hier worden alle veelbezochte links van het studentenplein gepost.
    </p>
    <p>@ViewData["token"]</p>

    <input type="button" id="button-info" />
    <div class="col-md-6" id="info">
        <h2>@ViewData["title"]</h2>
    </div>
    <div class="col-md-6">
        <p>@ViewData["days"]</p>
    </div>
    <div class="col-md-6" id="div1">
        <p>@ViewData["data"]</p>
    </div>

</div>

